.jumbotron {
    text-align: left;
}

.jumbotron p {
    font-size: 18px;
}

.jumbotron .text {
    margin-bottom: 35px;
}

.scenario-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.scenario-image.one {
    margin: 50px 0 0 0;
    background-image: url('../img/scenario-professor.png');
    background-size: 110%;
    background-color: white;
}

.scenario-image.two {
    margin: -5px 0 0 0;
    background-image: url('../img/scenario-github.png');
    background-color: white;
}

.scenario-image.three {
    margin: 0 0 0 0;
    background-image: url('../img/scenario-hands-on.png');
}

#daypicker {
    margin: 5px 0;
    padding-top: 3px;
}

#daypicker.error {
    border: 1px solid red;
}

#startbutton {
    margin-top: -10px;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
